$maxWidth: 2200px;

.grid-wrap {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $mobile) {
    padding-left: 7vw;
    padding-right: 7vw;
  }
  @media (min-width: 1400px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  &--inline_items {
    padding-left: 30px;
    padding-right: 30px;    
    @media (min-width: $mobile) {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    @media (min-width: 1400px) {
      padding-left: 7.5vw;
      padding-right: 7.5vw;
    }
  }
}

.grid-wrap--smaller {
  @media (min-width: $mobile) {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

.grid-item {
  &--small {
    max-width: 400px;
  }
  &--medium {
    max-width: calc(660px + 12vw);
  }
}
