/**
 * Responsive breakpoints
 */

$large-screen: 1700px;
$break-1500: 1500px;
$break-1400: 1400px;
$break-1250: 1250px;
$break-1150: 1150px;
$break-1080: 1080px;
$break-900: 900px;


$smallest-desktop: 1100px;
$ipad-max: 1024px;
$iphone-x: 812px;
$mobile: 769px;
